<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="boe" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="registrar &lt;hirenvjaiswal1@gmail.com.com&gt;">
        <network enableSsl="true" host="smtp.gmail.com" password="02652339368"
            userName="hirenvjaiswal1@gmail.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
